[Unit]
Description=Init file for Twitch Linux Typer
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/home/chat/.config/tlt
ExecStart=/usr/bin/env python3 /home/chat/.config/tlt/TwitchLinuxTyper.py

[Install]
WantedBy=default.target